@using AniversarioApplication.Entidade
@model List<Amigo>

<form method="post" asp-controller="Home" asp-action="Pesquisar" >
    <div class="form-group">
        <label for="Nome">Pesquise pelo Nome ou Sobrenome do amigo:</label>
        <input name="part" type="text" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Pesquisar Amigo</button>
</form>

<div style="margin-top: 20px">
@if (Model != null) 
{
    <table class="table">
        <thead>
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Nome</th>
               <th scope="col">Sobrenome</th>
               <th scope="col">Data de Anivertsário</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var amigo in Model) 
        {
                    <tr>
                       <td>@amigo.Id</td>
                       <td>@amigo.Nome</td>
                       <td>@amigo.Sobrenome</td>
                       <td>@amigo.Aniversario</td>

                       <td><a asp-action="Detalhes" asp-controller="Home" asp-route-amigoId="@amigo.Id" style="color: blue">Detalhes</a></td>
                       <td><a asp-action="Editar" asp-controller="Home" asp-route-amigoId="@amigo.Id" style="color: purple">Editar</a></td>
                       <td><a asp-action="Delete" asp-controller="Home" asp-route-amigoId="@amigo.Id" style="color: red">Excluir Amigo</a></td>
                    </tr>
        }
        </tbody>
    </table>
}
</div>